#map {
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
    background:rgba(255,255,255,0.5);
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    padding:0%;
    background-color: gray;
    color: white;
}

#name{
    position: relative;
    top: 0;
    left: 0;
    margin-top: 0%;
    margin-left: 0%;
    font-size: 50px;
    font-family: Monoton, sans-serif;
    z-index: 100;
}